* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #fff;
    color: #333;
  }
  .navbar {
    color: #fff;
    /*box-shadow: 5px 5px 10px rgba(198, 154, 255, 0.25);*/
    background-color: solid #360060;
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .navbar a {
    text-decoration: none;
    color: #c69aff;
    text-shadow: 0px 4px 4px rgba(198, 154, 255, 0.50);
  }
  .navbar a.navbar-brand {
    font: 36px 'Megrim', cursive;
    color: #717ffa;
    text-shadow: 0px 6px 6px rgba(113, 127, 250);
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
  }
  .navbar ul {
    font: 20px 'Mulish', sans-serif;
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0;
  }
  .navbar ul li {
    display: inline-block;
  }
  .navbar ul li a {
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
  }
  .navbar ul li a:hover {
    background-color: rgba(255,255,255,0.15);
  }
  .navbar .navbar-toggler {
    display: none;
  }

  .intro{
    padding: 80px 0 0 0;
    width: 100%;
    height: 100vh;
    mix-blend-mode: normal;
    background: linear-gradient(180deg, #360060 0%, rgba(59, 0, 106, 0.66) 127.92%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  #bouncyBall{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .intro-1,
  .intro-2,
  .intro button{
    display: flex;
    justify-content: center;
    color: #C69AFF;
  }

  .intro-1{
    margin-top: 80px;
    font: 25px 'Mulish', sans-serif;
    font-weight: 300;
    line-height: 35px;
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .intro-2{
    margin-top: 0px;
    font-family: 'Megrim';
    font-style: normal;
    font-size: 90px;
    line-height: 129px;
    padding: 10px 70px;
    text-shadow: 0px 2px 10px #C0AED8;
    line-height: 150px;
    
  }

  .intro div{
      left: 50%;
  }
/* .intro-btn button{
    margin: 2em auto;
    display: block;
    padding: 20px;
    border-radius: 50px;
    width: 15%;
    color: #fff;
    background-color: #40253b;
    box-shadow: 0 0 10px 10px rgba(64, 37, 59, 0.5),
    0 0 6px 6px rgba(238, 238, 238, 0.25) inset;
    border: 0.5px solid #eeeeee;
} */

.vis-btn{
  margin-top: 20px;
  border-radius: 30px;
  color: white;
  border: 15px white;
  margin: 2em auto;
  display: block;
  padding: 16px;
  width: 13%;
  background-color: rgba(186, 36, 255, 0.842);
  text-decoration: none;
}

.vis-btn:hover {
  background-color: rgba(186, 36, 255, 0.308);
  box-shadow: 0 0 6px 6px rgba(136, 21, 189, 0.733);

}

.algo-tile{
  width: 100%;
  height: 100vh;
  align-items: center;
  background: linear-gradient(180deg, #360060 0%, rgba(59, 0, 106, 0.66) 127.92%);
}

.tile-title{
  padding-top: 25px;
  display: flex;
  justify-content: center;
  color: white;
  font: 50px 'Megrim', sans-serif;
}

.tile-div{
  padding-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tiles{
  border-radius: 10px;
  background-color: #C69AFF;
  padding: 80px;
  display: inline-block;
}

.footer-distributed{
	background: rgb(36, 36, 36);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px 'sans-serif';
	padding: 20px 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 35%;
}

/* logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Megrim', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
  padding-right: 10px;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.addons{
    color: #ffffff;
    padding: 0 130px 20px 35px;
}
.form {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  padding: 0 30px;
  text-align: center;
  display:  inline-block;
  }
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
    padding: 0 30px;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

  
  @media (max-width: 991px) {
    .navbar ul {
      padding: 0 10px;
    }
    .navbar ul li a {
      min-width: 100px;
      padding: 0 20px;
    }
    .intro-2{
        font-size: 90px;
        line-height: 120px;
    }
  }
  
  @media (max-width: 863px) {
    .navbar {
      padding: 0;
    }
    .navbar ul {
      width: 100%;
      padding: 0;
      background-color: rgba(55,0,97,0.9);
      height: auto;
      /* height: 100vh; */
      max-height: 0;
      overflow: hidden;
      transition: all ease-in-out 0.3s;
    }
    .navbar ul.open {
      max-height: 100vh;
    }
    .navbar ul li {
      width: 100%;
      /* border-bottom: 1px solid rgba(255,255,255,0.3); */
    }
    .navbar ul li a {
      padding: 0;
    }
    .navbar .navbar-toggler {
      display: block;
      position: absolute;
      height: 40px;
      top: 20px;
      right: 20px;
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0 5px;
      cursor: pointer;
    }
    .navbar .navbar-toggler span,
    .navbar .navbar-toggler span::before,
    .navbar .navbar-toggler span::after {
      display: block;
      content: '';
      background-color: #c69aff;
      height: 3px;
      width: 28px;
      border-radius: 4px;
      transition: all ease-in-out 0.3s;
    }
    .navbar .navbar-toggler span::before {
      transform: translateY(-8px);
    }
    .navbar .navbar-toggler span::after {
      transform: translateY(5px);
    }
    
    .navbar .navbar-toggler.open-navbar-toggler span {
      /* transform: rotate(90deg); */
      background-color: transparent;
      /* transform: scale(0.85) rotate(270deg); */
    }
    .navbar .navbar-toggler.open-navbar-toggler span::before {
      transform: translateY(0px) rotate(45deg);
      /* transform: translateY(0px) scale(0.75) rotate(45deg); */
    }
    .navbar .navbar-toggler.open-navbar-toggler span::after {
      transform: translateY(-3px) rotate(-45deg);
      /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
    }

    .intro-btn button{
        width: 30%;
    }
  }

  @media (max-width: 570px) {
      .intro-btn button{
          width: 50%;
      }
      .intro-1{
        font-size: 20px;
      }
      .intro-2{
          font-size: 70px;
          line-height: 90px;
          padding-top: 0;
      }
      
  }

